{% extends "base.html.twig" %}

{% block container %}
        {{form_start(form) }}

<button type="submit"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">
        Affecter </button></a>

{{ form_end(form) }}
{% endblock %}
