{% extends 'back.html.twig' %}

{% block container %}
    <div style="display: flex;align-items: center;justify-content: center;">
        <div style="width: 300px">
            {{ form (form) }}
        </div>
    </div>
{% endblock %}