{% extends "base.html.twig" %}

{% block container %}

    <center><h2 class="contact-title">
            <br><br>
            Ajouter une Categorie !
        </h2></center>
    <div class="form-group has-error">
        {{ form_start(Form) }}
        <br> <br> <br>
        <div class="form-group">
            {{ form_widget(Form.libelle,{'attr':{'class':'form-control','placeholder':'libelle'}}) }}
        </div>
        <center> {{ form_widget(Form.Submit,{'attr':{'class':'btn btn-circle btn-primary m-b-10'}}) }}        </center>
        <br> <br> <br>

        {{ form_end(Form) }}
    </div>





{% endblock %}